@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,400italic,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,500,700);

html, body {
	padding: 0;
	margin: 0;
}

html {
	background-color: #f1f1f1
}

/*header menu*/
#menu {
	font-family: "Roboto Condensed", Helvetica, sans-serif;
	background: #ccd0d3;
	height: 75px;
	line-height: 75px;
	box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
}

#menu > ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

#menu > ul > li {
	display: inline-block;
	list-style: none;
	margin-right: 37px;
}

#menu > ul > li:last-child {
	margin-right: 0;
}

#menu > ul > li a{
	font-size: 24px;
	color: #464847;
	text-decoration: none;
}

#menu > ul > li a:hover{
	text-decoration: underline;
}

/*content*/
#content {
	margin-top: 2%;
	margin-left: 25%;
	margin-right: 25%;
}

#text {
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.5;
	text-align: justify;
	margin-bottom: 7%;
}

/*different content effects*/
.shadow {
	box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
}

#image-paddings {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* styles for articles page*/
#headline-articles {
	font-family: "Roboto", Helvetica, sans-serif;
	font-weight: 500;
	font-size: 24px;
	text-decoration: none;
	color: #232323;
}

#description {
	padding-top: 2px;
	font-family: "Roboto Condensed", Helvetica, sans-serif;
	font-style: italic;
	font-size: 18px;
	color: black;
	margin-bottom: 7%;
}

#headline-articles:hover {
	text-decoration: underline;
}

.dots {
	border-left-style: dotted;
	padding-left: 5%;
}

#headline-article-name {
	font-family: "Roboto", Helvetica, sans-serif;
	font-weight: 500;
	font-size: 24px;
	text-decoration: none;
	color: #232323;
}

/*styles for portfolio page*/
#headline-portfolio {
	font-family: "Roboto", Helvetica, sans-serif;
	font-weight: 500;
	font-size: 24px;
	text-decoration: none;
	color: #232323;
}

#link-portfolio {
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 20px;
	color: #2b9ae8;
	text-decoration: none;
	font-style: italic;
}

/*styles for articles*/
#headline-article-text {
	font-family: "Roboto", Helvetica, sans-serif;
	font-weight: 500;
	font-size: 24px;
	text-decoration: none;
	color: #232323;
}
